@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
        Giriş Yap
    </title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <link href="~/panel/assets/css/nucleo-icons.css" rel="stylesheet" />
    <link href="~/panel/assets/css/nucleo-svg.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
    <link href="~/panel/assets/css/nucleo-svg.css" rel="stylesheet" />
    <link id="pagestyle" href="~/panel/assets/css/soft-ui-dashboard.css?v=1.0.3" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body class="">
    <main class="main-content  mt-0">
        <section>
            <div class="page-header min-vh-75">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-4 col-lg-5 col-md-6 d-flex flex-column mx-auto">
                            <div class="card card-plain mt-8">
                                <div class="card-header pb-0 text-left bg-transparent">
                                    <h3 class="font-weight-bolder text-info text-gradient">Hey! Bizi ihmal etmediğin için teşekkür ederiz.</h3>
                                    <p class="mb-0"></p>
                                </div>
                                <div class="card-body">
                                    <form method="post" role="form">                                       
                                        <label>E-Posta</label>
                                        <div class="mb-3">
                                            <input type="email" class="form-control" name="Email" id="email" placeholder="E-Posta" aria-label="Email" aria-describedby="email-addon">
                                        </div>
                                        <label>Şifre</label>
                                        <div class="mb-3">
                                            <input type="password" class="form-control" name="Sifre" id="sifre" placeholder="Şifre" aria-label="Password" aria-describedby="password-addon">
                                        </div>
                                        <div class="form-check form-switch">
                                            <input class="form-check-input" type="checkbox" id="rememberMe" checked="">
                                            <label class="form-check-label" for="rememberMe">Hatırla</label>
                                        </div>
                                        <div class="text-center">
                                            <button type="button" class="btn bg-gradient-info w-100 mt-4 mb-0 giris">Giriş Yap</button>
                                        </div>
                                    </form>
                                </div>
                                <div class="card-footer text-center pt-0 px-lg-2 px-1">
                                    <p class="mb-4 text-sm mx-auto">
                                        Bir hesabın yok mu ?
                                        <a href="/Kayit/Index/;" class="text-info text-gradient font-weight-bold">Kayıt Ol</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-12">
                                    <img src="~/panel/animalimage/loginbg.png" width="400px" height="400px" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <img src="~/panel/animalimage/logobg3.png" width="100px" height="100px" />
                                </div>
                                <div class="col-md-6">
                                    <img src="~/panel/animalimage/loginbg2.png" width="400px" height="400px" />
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer class="footer py-5">
        <div class="container">
            <div class="row">
                <div class="col-8 mx-auto text-center mt-1">
                    <p class="mb-0 text-secondary">
                        © <script>
                              document.write(new Date().getFullYear())
                        </script> Evcil Hayvanım
                    </p>
                </div>
            </div>
        </div>
    </footer>

    <script src="~/panel/assets/js/core/popper.min.js"></script>
    <script src="~/panel/assets/js/core/bootstrap.min.js"></script>
    <script src="~/panel/assets/js/plugins/perfect-scrollbar.min.js"></script>
    <script src="~/panel/assets/js/plugins/smooth-scrollbar.min.js"></script>
    <script>
        var win = navigator.platform.indexOf('Win') > -1;
        if (win && document.querySelector('#sidenav-scrollbar')) {
            var options = {
                damping: '0.5'
            }
            Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
        }
    </script>

    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <script src="~/panel/assets/js/soft-ui-dashboard.min.js?v=1.0.3"></script>
    <script>
        $(document).ready(function(){
            $(".giris").click(function(e){
                e.preventDefault();
                var dataForm = {
                    Email: $("#email").val(),
                    Sifre: $("#sifre").val()
                };                
                $.ajax({
                    type: 'POST',
                    url: '/Giris/Index/',
                    data: dataForm,                   
                    success: function (response) {                       
                            window.location.href = '/Panel/Index/';                       
                    },
                    error: function (xhr, status, error) {
                        console.log(xhr.message);
                    }

                });
            })
        })
    </script>
</body>

</html>
